.carta{
  position: relative;
  display: inline-block;
  flex-direction: column;
  background-color:rgb(255, 255, 255);
  background-clip: border-box;
  border-radius: 1rem;
  width: 80px;
  border: 2px black solid;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-top {
  padding: 100px;
  flex: 100%;
}
.flex-item-left {
  padding: 100px;
  flex: 20%;
}
.flex-item-center {
  padding: 100px;
  flex: 60%;
}

.flex-item-right {
  padding: 100px;
  flex: 20%;
}
.flex-item-bottom {
  padding: 50px;
  flex: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}